body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.Logo {
    text-align: center; 
    margin: auto;      
}
.Logo img {
    width: 220px;       
    height: auto;      
    display: inline-block;
}
span {
    color: #3e89b4;
}
.contenedor {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background: linear-gradient(to right, #103260, #3e89b4);
    color: rgb(251, 251, 251);
    text-align: center;
    border-radius: 10px;
}
.contenedor__antes{
    height: 120px;
    margin-top: 20px;
}
.btn {
    padding: 10px 30px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px #000 ;
    transition: all 1s ease;
}
.btn:hover {
    transform: scale(1.1);
}
li{
    text-align: center;
}
.social-links a {
    margin: 0 20px ;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.social-links img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}
.imagen{
    border-radius: 10px;
}
footer { 
    color: #000;
    text-align: center;
    width: 100%;
}
footer p{
    color:#103260;
    font-size: 20px;
}
.copy{
    color: #000;
}